<md-autocomplete
  class="search-places"
  md-delay="400"
  md-autofocus="true"
  md-selected-item="searchPlaces.search.selectedItem"
  md-search-text="searchPlaces.search.searchText"
  md-selected-item-change="searchPlaces.search.selectedItemChange(item)"
  md-items="item in searchPlaces.search.querySearch(searchPlaces.search)"
  md-item-text="item | waypointTitle"
  ng-click="searchPlaces.search.clickHandler(searchPlaces.search)"
  md-min-length="0"
  placeholder="Let's give this engine a crank…">


  <span class="dropdown_list_item_title">
    <span class="dropdown_list_item_icon result_category">
      <img ng-src="{{item.icon}}"/>
    </span>
    <span md-highlight-text="searchPlaces.search.searchText" md-highlight-flags="gi">{{item | placeTitle}}</span>
  </span>
  <span class="dropdown_list_item_description">
    <span md-highlight-text="searchPlaces.search.searchText" md-highlight-flags="gi" ng-bind-template="{{item | placeAddress}}"></span>
  </span>
</md-autocomplete>
