<div layout="row" layout-wrap class="search-directions">
  <div flex="90">
    <md-list>
      <md-item-list search-direction-item-list
                    layout="row" layout-align="start center"
                    class="search-direction-item-list"
                    ng-class="{'search-direction-item-list-border': !$last}"
                    ng-repeat="waypoint in searchDirections.waypoints"></md-item-list>
    </md-list>
  </div>
  <div flex="10" layout="row" layout-align="center center">
    <md-button class="md-fab md-raised search-direction-reverse" aria-label="reverse route" ng-click="searchDirections.reverseDirection()">
      <md-tooltip md-direction="left" md-autohide="true">Reverse route</md-tooltip>
    </md-button>
  </div>

  <md-radio-group ng-model="searchDirections.mode" layout="row" layout-align="space-between start">
    <md-radio-button ng-repeat="mode in searchDirections.data.modes" value="{{mode.value}}">{{mode.title}}</md-radio-button>
  </md-radio-group>
  <direction-info class="direction-info"></direction-info>
</div>
