@import 'nib'
@import 'variables'


.user-current-location
  .md-button
    &.md-fab
      &.md-fab-bottom-right
        right 6px
        bottom 40px
        height 30px
        width 30px
        padding-top 3px

.label-pointer-direction
  background-image url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyMCIgaGVpZ2h0PSIyMCIgdmlld0JveD0iMCAwIDIwIDIwIj48cGF0aCBmaWxsPSIjZmZmIiBkPSJNMTkuNjI3IDExLjYyMmwtNi41MS0zLjc2Yy0uNDQtLjI1Ni0uODAyLS4wNDctLjgwMi40NjN2MS45ODRjLTIuMDQ0LjA2Ni0zLjg2Mi44My01LjM4MiAxLjk5NnYtNC43NGgxLjg3MmMuNTEgMCAuNzItLjM2LjQ2NC0uODAzTDUuNTU3LjMzNWMtLjI1NC0uNDQyLS42NzItLjQ0LS45MjcgMEwuOTIgNi43NjNjLS4yNTYuNDQzLS4wNDcuODA0LjQ2My44MDRIMy4yNFYyMGgzLjY5NHYtLjE4NmMwLTMuMDcgMi4zNTItNS42MzMgNS4zODItNS43OTJ2MS43MjZjMCAuNTEuMzYuNzIuODAzLjQ2M2w2LjUwOC0zLjY2Yy40NC0uMjU2LjQ0LS42NzMgMC0uOTI4eiIvPjwvc3ZnPg==')
  background-position 5px
  background-repeat no-repeat
  border-radius 0 3px 3px 0
  height 29px
  right 0
  width 30px
  background-color #00b4e5
  display block
  margin-top -2px
  margin-right -2px

.label-pointer-location
  color #00c9ff
  text-decoration none
  font-size 16px

