
.no-margin
  margin 0 !important

.no-padding
  padding 0 !important

.pointer
  cursor pointer

.hidden
  display none !important

.text-align--left
  text-align left !important

.text-align--center
  text-align center !important

.text-align--right
  text-align right !important

.bold
  font-weight bold !important

.w100
  width 100% !important

.w50
  width 50% !important

.margin-left-0
  margin-left 0 !important

.padding-left-10
  padding-left 10px

.margin-left-10
  margin-left 10px

.margin-left-15
  margin-left 15px

.margin-right-5
  margin-right 5px

.margin-top-10
  margin-top 10px

.padding-top-0
  padding-top 0!important

.padding-bottom-0
  padding-bottom 0!important
